* {
    box-sizing: border-box;
  }
  
  @import url("https://fonts.cdnfonts.com/css/verdana");
  
  body {
    margin: 0;
    font-family: "Smythe", cursive;
    box-sizing: border-box;
    background: #f5f5f5;
  }
  
  .header-img {
    display: block;
    width: 600px;
    height: 167px;
    margin: 0 auto;
  }
  
  main {
    background-color: #ffffff;
    width: 600px;
    margin: 10px auto;
    background: #ffffff;
    position: relative;
    margin-top: 0;
    padding-top: 0;
  }
  
  .food {
    width: 508px;
    height: 140px;
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid #9b9b9b;
    margin: 0 46px 0 46px;
    padding-top: 0;
  }
  
  .food-emoji {
    font-size: 64px;
    margin-right: 31px;
  }
  
  .food-title {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 8px;
    color: #000000;
  }
  
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 8px;
    color: #8b8b8b;
  }
  
  .price {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 8px;
    color: #000000;
    border-bottom: 51px;
  }
  
  .fa-solid {
    font-size: 40px;
    margin-left: 203px;
    margin-top: -18px;
    position: absolute;
    left: 300px;
    color: #dedede;
  }
  
  .fa-solid:hover {
    cursor: pointer;
  }
  
  .ordered-items {
    width: 600px;
    margin: 0 auto;
    background: #ffffff;
    display: none;
  }
  
  .order-div {
    display: flex;
    text-align: center;
    position: relative;
  }
  .your-order {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    margin-top: 0;
    padding-top: 25px;
  }
  
  .order-name {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 17px;
    color: #000000;
    /*left: 46px;*/
    margin-left: 46px;
    margin-bottom: 0;
  
    /*position: absolute;*/
  }
  
  .order-paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #bbbbbb;
    margin-left: 20px;
    padding-top: 13px;
    margin-bottom: 0;
  
    /*position: absolute;*/
    /*left: 150px;*/
  }
  
  .order-paragraph:hover {
    cursor: pointer;
    font-weight: 600;
  }
  
  .order-price {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    position: absolute;
    right: 50px;
  }
  
  hr {
    width: 504px;
    border: 2px solid #393333;
    border-radius: 2px;
    margin-left: 46px;
    margin-top: 20px;
    margin-bottom: 13px;
  }
  
  .order-div2 {
    display: flex;
    text-align: center;
    position: relative;
  }
  
  .total-amount {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 17px;
    color: #000000;
    left: 46px;
    position: absolute;
    margin-top: 164px;
    margin-bottom: 0;
    bottom: -23px;
  }
  
  #total-usd {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    position: absolute;
    right: 46px;
    bottom: -23px;
    margin-top: 174px;
    margin-bottom: 0;
  }
  
  .complete {
    width: 508px;
    height: 60px;
    background: #16db99;
    border: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    margin: 80px 46px 53px 46px;
    font-family: "Verdana", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    transition: opacity 0.15s;
  }
  
  .complete:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  
  .card {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 524px;
    height: 542.24px;
    margin: auto;
    background: #ffffff;
    border-radius: 3.88991px;
    filter: drop-shadow(5.18654px 5.18654px 255.437px rgba(0, 0, 0, 0.5));
  }
  
  .card-details {
    font-family: "Verdana";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    padding-top: 40px;
    margin-left: 109.7px;
  }
  
  input {
    margin-top: 23.22px;
    margin-left: 24.22px;
    width: 475.91px;
    height: 71.3px;
    border: 1.5px solid #757575;
    border-radius: 3px;
  }
  
  input[type="text"] {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    color: #757575;
    padding-left: 26.53px;
    margin-top: 16.58px;
  }
  
  .payment-btn {
    width: 475.99px;
    height: 71.3px;
    background: #16db99;
    border-radius: 3.88991px;
    border: none;
    margin-left: 27.4px;
    margin-top: 46.43px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    color: #ffffff;
  }
  
  .close-btn {
    font-size: 30px;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid transparent;
    color: #d62828;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .close-btn:hover,
  .close-btn:focus {
    cursor: pointer;
    text-shadow: 0.5px 0 0.5px #d62828;
  }
  
  .waiting-order,
  .saving-info {
    background: #ecfdf5;
    width: 504px;
    margin-left: 46px;
    border-radius: 3px;
    font-weight: 400;
    font-size: 32px;
    line-height: 20px;
    color: #065f46;
    text-align: center;
    margin-top: 50px;
    padding: 30px 10px;
  }


  
@media (max-width: 420px) {
    main,
    .container,
    .ordered-items {
      width: 400px;
      padding: 0;
      margin: 0;
    }
  
    .header-img {
      width: 400px;
      height: 120px;
    }
    .complete {
      width: 320px;
      margin-left: 40px;
    }
    hr,
    .food,
    .waiting-order,
    .saving-info {
      width: 320px;
      margin-left: 40px;
    }
  
    hr {
      border: 1px solid #393333;
    }
  
    .food {
      border-bottom: 0.7px solid #9b9b9b;
    }
    .food-emoji {
      font-size: 60px;
    }
    .food-title,
    .your-order,
    .order-name,
    .total-amount {
      font-size: 25px;
    }
    p {
      font-size: 13px;
    }
  
    .price,
    .order-price,
    #total-usd {
      font-size: 19px;
    }
  
    .order-paragraph {
      font-size: 13px;
    }
  
    .fa-solid {
      font-size: 37px;
      margin-left: 203px;
      margin-top: -18px;
      left: 120px;
    }
  
    .card {
      width: 360px;
    }
  
    .card-details {
      font-size: 21px;
      margin-left: 95px;
      margin-top: 10px;
    }
  
    input,
    .payment-btn {
      width: 315px;
      height: 65px;
      margin-left: 24px;
    }
  
    .waiting-order {
      width: 370px;
      margin-left: 24px;
    }
    input[type="text"] {
      font-size: 17px;
    }
  
    .close-btn {
      font-size: 27px;
      border: 1px solid transparent;
      top: 10;
      right: 10px;
    }
  }
  